$muller: 'Muller', sans-serif;
$mont: 'Montserrat', sans-serif;

$white: #ffffff;

$black: #323044;
$black-1: #2F2E41;
$black-2: #3F3D56;
$black-3: #2F2E41;
$black-4: #222222;

$blue: #2871B6;
$blue-1: #2D88C7;
$blue-2: #2DA5C6;
$blue-3: #26517A;

$silver: #F2F4FC;
$silver-2: #FBFBFB;
$silver-3: #C1C1C1;
$silver-4: #F9F9F9;
$silver-5: #ECECEC;
$silver-6: #C4C4C4;
$silver-7: #8A8A8A;

$gradient-blue: linear-gradient(90deg, #2D84C9 2.34%, #2DA9C6 124.3%);

$btn-gradient: linear-gradient(90deg, #2D84C9 0%, #2DAAC6 100%), linear-gradient(0deg, #2871B6, #2871B6), linear-gradient(0deg, #2871B6, #2871B6), #C4C4C4;
$btn-gradient-invert: linear-gradient(90deg, #2DAAC6 0%, #2D84C9 100%), linear-gradient(0deg, #2871B6, #2871B6), linear-gradient(0deg, #2871B6, #2871B6), #C4C4C4;
$btn-box-shadow: 10px 10px 25px rgba(40, 116, 181, 0.25);

$gradient-violet: linear-gradient(0deg, #F2F4FC, #F2F4FC), #C4C4C4;

