.bdetail {
  max-width: 100vw;

  &-slider {
    margin-top: 75px;
    padding-bottom: 39px;
    //border-bottom: 1px solid rgba(#222222, .15);

    @media(max-width: 992px) {
      margin-top: 30px;
    }

    &-container {
      overflow: hidden;
    }

    .swiper-container {
      width: calc(100% + calc(calc(100vw - 100%) / 2));
      padding-bottom: 0;

      @media(max-width: 1200px) {
        width: 100%;
      }
    }

    &__head {
      display: flex;
      justify-content: space-between;
      padding-right: 70px;
      position: relative;
      margin-bottom: 20px;

      h1, h2 {
        letter-spacing: -1.5px;
      }
    }

    &__control {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 12px;

      @media(max-width: 768px) {
        bottom: -2px;
      }

      @media print {
        display: none;
      }

      button {
        width: 28px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        border: 0;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        &:first-child {
          svg {
            transform: rotate(180deg);
          }
        }

        &:hover {
          svg {
            fill: $blue;
          }
        }

        svg {
          width: 17px;
          height: 12px;
          transition: .2s;
        }
      }
    }

    .swiper-slide {
      width: 200px;
      height: 256px;
      overflow: hidden;
      cursor: pointer;

      &.--video {
        width: 455px;
        position: relative;

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0, .4) url("../img/svg/play.svg") center center no-repeat;
          background-size: 70px 70px;
          transition: .2s;
          pointer-events: none;
        }

        &:hover {
          &:after {
            background-size: 80px 80px;
          }
        }
      }
      &.--max {
        width: 342px;
      }
    }

    &__item {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
  }

  &-print {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    border-bottom: 1px solid rgba(#222222, .15);
    padding-bottom: 21px;

    &__text {
      display: flex;
      width: calc(100% - 305px);

      @media(max-width: 992px) {
        flex-wrap: wrap;
      }

      @media(max-width: 767px) {
        width: calc(100% - 250px);
      }

      @media(max-width: 620px) {
        width: 100%;
      }
      @media(min-width: 1600px) {
        width: calc(100% - 405px);
      }
    }

    &__ul {
      padding-right: 48px;
      box-sizing: border-box;
      &:first-child {
        min-width: 448px;
        max-width: 448px;
      }
      @media(max-width: 992px) {
        width: 100%;
      }
      
      @media(min-width: 1920px) {
        &:last-child {
          width: unset;
          padding-left: 5vw;
        }
      }
     

      em {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.7px;
        color: $blue;
        margin-bottom: 18px;
        display: inline-block;

        @media(max-width: 767px) {
          margin-bottom: 12px;
        }
        @media(min-width: 1600px) {
          font-size: 16px;
        }
      }

      span {
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        display: block;
        margin-bottom: 6px;

        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 1.2;
        }
        @media(min-width: 1600px) {
          font-size: 20px;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 27px;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &:before {
          content: "";
          width: 4px;
          height: 4px;
          display: inline-block;
          background-color: $black-2;
          border-radius: 100%;
          margin-right: 6px;
          position: relative;
          top: -4px;
        }
      }

      p {
        font-family: $mont;
      }

      p, li {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1.3px;

        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 22px;
        }
        @media(min-width: 1600px) {
          font-size: 20px;
        }
      }

      li {
        letter-spacing: 0;
      }

      p {
        margin-bottom: 29px;
      }
    }

    &__list {
      width: 305px;
      padding-bottom: 50px;

      @media(max-width: 767px) {
        width: 250px;
      }

      @media(max-width: 620px) {
        width: 100%;
        padding-bottom: 0;
      }

      @media(min-width: 1600px) {
        width: 405px;
      }

      ul {
        @media(max-width: 992px) {
          position: sticky;
          top: 140px;
        }

        @media(max-width: 767px) {
          top: 70px;
        }

        @media(max-width: 620px) {
          position: static;
        }

        li {
          background: rgba(54, 122, 186, 0.1);
          border-radius: 10px;
          margin-bottom: 11px;
          padding: 18px;

          display: flex;
          align-items: center;

          @media(max-width: 767px) {
            padding: 14px;
          }
          @media(min-width: 1600px) {
            padding: 26px;
            margin-bottom: 15px;
          }
          svg {
            width: 18px;
            height: 18px;
            @media(min-width: 1600px) {
              width: 31px;
              height: 31px;
            }
          }

          span {
            width: calc(100% - 18px);
            padding-left: 12px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;

            @media(max-width: 767px) {
              font-size: 14px;
            }
            @media(min-width: 1600px) {
              font-size: 26px;
              padding-left: 30px;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: -6px;

      @media print {
        display: none;
      }

      @media(max-width: 992px) {
        margin-top: 30px;
      }

      @media(max-width: 480px) {
        flex-wrap: wrap;
        flex-direction: column;

        a {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &-review {
    display: flex;
    padding-top: 53px;
    padding-bottom: 80px;

    @media(max-width: 992px) {
      flex-wrap: wrap;
      padding-top: 30px;
      padding-bottom: 50px;
    }

    @media print {
      display: none;
    }

    &__head {
      width: 364px;

      @media(max-width: 992px) {
        width: 100%;
        margin-bottom: 20px;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
      }
    }

    &__content {
      max-width: 1200px;
      width: calc(100% - 364px);

      @media(max-width: 992px) {
        width: 100%;
      }
    }
  }
}
