.slidermin {

  @media print {
    display: none;
  }

  &.--page-service &__wrap {
    padding-top: 66px;
    padding-bottom: 0;

    @media(max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.--bg-silver {
    background-color: $silver-4;
  }

  &.--bg-silver &__wrap {
    padding-top: 66px;

    @media(max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .article__info {
      background-color: $white;
    }

    .swiper-button-next, .swiper-button-prev {
      color: $black-2;
    }
  }


  &__wrap {

  }

  &__head {
  }

  &__slider {
    padding-bottom: 50px;

    .swiper-pagination {
      width: auto;
      bottom: 0;
      padding-left: 2px;

      .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        background-color: $black-3;
        position: relative;
        margin-left: 0;
        margin-right: 20px;
        transition: .2s;
        cursor: pointer;

        @media(max-width: 480px) {
          margin-right: 4px;
          width: 8px;
          height: 8px;
        }

        &:after {
          content: "";
          display: block;
          width: 13px;
          height: 13px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .2s;
          background: $gradient-blue;
          opacity: 0;
          border-radius: 100%;

          @media(max-width: 480px) {
            width: 10px;
            height: 10px;
          }
        }

        &:hover {
          background: $blue;
          opacity: 1;
        }

        &.swiper-pagination-bullet-active {
          background: transparent;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    .swiper-button-prev {
      bottom: -12px;
      margin-top: 0;
      right: 110px;
      left: inherit;

      @media(max-width: 480px) {
        right: 70px;
      }

      svg {
        transform: rotate(180deg);
        margin-right: 15px;

        @media(max-width: 480px) {
          margin-right: 5px;
        }
      }
    }

    .swiper-button-next {
      bottom: -12px;
      margin-top: 0;
      right: -8px;

      @media(max-width: 480px) {
        right: 0;
      }

      svg {
        margin-left: 15px;

        @media(max-width: 480px) {
          margin-left: 5px;
        }
      }
    }

    .swiper-button-prev, .swiper-button-next {
      width: 100px;
      top: inherit;
      bottom: 0;
      margin-top: 0;
      height: 20px;

      @media(max-width: 480px) {
        width: 60px;
        bottom: -2px;
      }

      &:hover {
        span {
          color: $blue;
        }

        svg {
          fill: $blue;
        }
      }

      span {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: $black-2;
        transition: .2s;

        @media(max-width: 480px) {
          font-size: 12px;
        }
      }

      svg {
        width: 14px;
        height: 10px;
        transition: .2s;
      }

      &:after {
        display: none;
      }
    }

    .swiper-button-prev {

    }

    .swiper-button-next {

    }
  }
}
