.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: .2s;


  @media print {
    display: none;
  }

    //Colored
  &.--colored {
    background-color: $blue;
    color: $white;

    a {
      transition: .2s;

      &:hover {
        opacity: .6;
        color: $white;
      }
    }

    .social {
      svg {
        fill: #ffffff;
      }
    }

    .custom-select-container {
      .custom-select-opener {
        span {
          color: $white;
        }

        &:hover {
          span {
            color: $white;
            opacity: .7;
          }
        }

        &:after {
          background: url(../img/arrow-white.svg) center center no-repeat;
        }
      }
    }
  }

  &.--colored &__logo {
    svg {
      fill: $white;
    }
  }

  &.--colored .menu-mobile__logo {
    svg {
      fill: $white;
    }
  }

  &.--colored a {
    color: $white;
  }

  &.--colored .custom-select-option {
    color: $black-2;
  }

  &.--colored .custom-select-option.is-selected {
    color: $blue;
  }

  &.--colored .is-open .custom-select-opener span {
    color: $white;
  }

  //Fixed
  &.--fixed {
    background-color: $white;
  }

  //Sticky
  &.--sticky {
    position: sticky;
    background-color: $white;

    &.--colored {
      background-color: $blue;
      color: $white;
    }
  }

  //Mobile
  &-mobile {
    justify-content: space-between;
    align-items: center;

    padding-top: 9px;
    padding-bottom: 9px;

    display: none;

    @media(max-width: 767px) {
      display: flex;
      z-index: 2;
    }

    &__logo {
      display: inline-block;

      svg {
        display: block;
        width: 71px;
        height: 43px;
        fill: $blue;
      }
    }

    &__control {
      display: flex;
      a {
        width: 31px;
        height: 31px;
        border-radius: 100%;
        display: inline-block;
        margin-left: 14px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      button {
        width: 31px;
        height: 31px;
        border-radius: 100%;

        border: 0;
        background: $gradient-blue;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 14px;
        outline: none;
        padding: 0;
        border: 0;

        svg {
          width: 12px;
          height: 12px;
        }
      }

      a, button {
        transition: .2s;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 14px;

    @media(max-width: 850px) {
      padding-top: 10px;
    }

    @media(max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $gradient-blue;
      z-index: 101;
      padding-top: 0;
      align-items: flex-start;

      overflow: auto;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;

      transform: translateX(-10px);
      opacity: 0;
      pointer-events: none;
      visibility: hidden;

      &.--active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transition: .2s;
      }
    }
  }

  &__mail {
    margin-right: auto;
    margin-left: 3px;

    @media(max-width: 850px) {
      width: auto;
      display: flex;
      align-items: center;
    }

    @media(max-width: 767px) {
      display: none;
    }

    a {
      font-family: $muller;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      color: $black-2;

      transition: .2s;
      text-decoration: none;

      position: relative;
      top: 2px;

      &:hover {
        color: $blue;
      }
    }
  }

  &__logo-dop {
    display: none;

    svg {
      width: 70px;
      height: 44px;
      display: block;
      fill: $blue;

      @media(max-width: 850px) {
        width: 57px;
        height: 35px;
      }
    }

    @media(max-width: 850px) {
      display: inline-block;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  &__social {
    //width: 35%;
    padding-left: 219px;

    @media(max-width: 1080px) {
      padding-left: 0;
    }

    @media(max-width: 850px) {
      width: auto;
      display: flex;
      align-items: center;
      padding-left: 40px;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  .social {
    .viber {
      fill: #4826D0;
    }

    .telegram {
      fill: #3295DD;
    }

    .whatsapp {
      fill: #22B04A;
    }
  }

  &__contact {
    width: 35%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

    @media(max-width: 850px) {
      width: auto;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;
      padding: 14px 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    em {
      display: none;

      @media(max-width: 767px) {
        display: inline-block;
        color: rgba(#fff, .7);
        font-style: normal;
        font-size: 16px;
      }
    }

    > a {
      font-family: $muller;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      color: $black-2;

      margin-left: 40px;
      display: inline-block;

      transition: .2s;
      text-decoration: none;

      @media(max-width: 850px) {
        margin-left: 20px;
      }

      @media(max-width: 767px) {
        display: none;
      }

      &:hover {
        color: $blue;
      }
    }

    @media(max-width: 767px) {
      .custom-select-container {
        position: relative;
        top: 3px;

        &:hover {
          .custom-select-opener {
            span {
              color: #fff;
            }
          }
        }
      }

      .custom-select-opener {
        padding-right: 12px;

        span {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          transition: .2s;
        }

        &:after {
          margin-top: -3px;
          background: url("../img/arrow-white.svg") center center no-repeat;
        }
      }
    }

    .custom-select {
      @media(max-width: 767px) {
        .custom-select__head {
          span {
            color: #fff;
            font-size: 16px;
            position: relative;
            top: 2px;
            margin-left: 6px;
          }

          svg {
            fill: #fff;
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }

  &__mobile-close {
    display: none;
    cursor: pointer;
    user-select: none;

    @media(max-width: 767px) {
      margin-left: auto;
      display: inline-block;
    }

    svg {
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  &__bottom {
    width: 100%;
    //border-top: 1px solid rgba($black-4, 0.15);
    margin-top: 14px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    &:after {
      content: "";
      display: block;
      width: calc(100% - 219px);
      height: 1px;
      background-color: rgba($black-4, 0.15);
      position: absolute;
      top: 0;
      right: 0;

      @media(max-width: 1080px) {
        width: 100%;
      }
    }

    @media(max-width: 992px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media(max-width: 850px) {
      justify-content: center;
      margin-top: 10px;
      border-top: 1px solid rgba($black-4, 0.15);

      &:after {
        display: none;
      }
    }

    @media(max-width: 767px) {
      border: 0;
      padding-top: 26px;
      margin-top: 0;
      padding-bottom: 24px;
      display: block;
      margin-bottom: auto;
      width: 100%;
    }

    &-mobile {
      display: none;

      @media(max-width: 767px) {
        display: block;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        margin-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 26px;

        a {
          font-family: $muller;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 1;
          color: rgba(255, 255, 255, 0.7);
          transition: .2s;
          text-decoration: none;
          display: block;
          margin-bottom: 21px;
        }
      }
    }
  }

  &__footer {
    display: none;

    @media(max-width: 767px) {
      width: 100%;
      display: block;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-bottom: 21px;

      li {
        margin-left: 11px;
        margin-right: 11px;

        a {
          width: 20px;
          height: 20px;
          display: inline-block;

          &.viber {
            position: relative;
            top: 1px;
          }

          svg {
            width: 100%;
            height: 100%;
            fill: rgba(#fff, .5);
          }
        }
      }
    }

    div {
      display: flex;
      justify-content: center;
      padding-bottom: 17px;
      align-items: center;

      a {
        font-family: $muller;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        text-decoration: none;
      }

      span {
        font-family: $muller;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        padding-left: 3px;
        padding-right: 3px;
        color: #fff;
        display: inline-block;
      }
    }
  }

  &__logo {
    @media(max-width: 850px) {
      display: none;
    }

    a {
      text-decoration: none;
      display: block;
    }

    svg {
      width: 91px;
      height: 56px;
      display: block;
      fill: $blue;
      @media(max-width: 992px) {
        width: 70px;
        height: 44px;
      }
    }
  }

  &__nav {
    flex: 1;

    @media(max-width: 850px) {
      width: 100%;
    }

    @media(max-width: 767px) {
      width: 100%;
    }

    ul {
      list-style: none;
      display: flex;
      width: 100%;
      justify-content: space-between;
      //padding-left: 50px;
      padding-left: 127px;

      @media(max-width: 1080px) {
        padding-left: 50px;
      }

      @media(max-width: 850px) {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
      }

      @media(max-width: 767px) {
        width: 100%;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    li {
      &:not(:first-child) {
        //margin-left: 41px;
        //margin-left: 5%;

        //@media(max-width: 1200px) {
        //  margin-left: 1.5vw;
        //}
        //
        //@media(max-width: 1180px) {
        //  //margin-left: 20px;
        //}

        //@media(max-width: 992px) {
        //  //margin-left: 15px;
        //}

        @media(max-width: 850px) {
          margin-left: 0;
          margin-right: 0;
        }

        @media(max-width: 767px) {
          margin-left: 0;
        }
      }

      @media(max-width: 850px) {
        margin-left: 0;
        margin-right: 0;
      }

      @media(max-width: 767px) {
        margin-bottom: 29px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a {
      font-family: $muller;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $black-2;
      transition: color .2s;
      text-decoration: none;

      @media(max-width: 992px) {
        font-size: 14px;
      }

      @media(max-width: 767px) {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        color: #fff;
        transition: 0s;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        color: $blue;
      }
    }
  }
  @media (min-width: 1366px) {

    &__logo {
      svg {
        width: 6.32vw;
        height: 3.89vw;
      }
    }
    &__nav a, &__mail a, &__contact > a, &__contact .custom-select-container .custom-select-opener span {
      font-size: 0.98vw;
      line-height: 0.99vw;
    }
    &__mail {
      line-height: 2.22vw;
    }
    .social a svg {
      width: 1.67vw;
      height: 1.67vw;
    }
  };
  
}

.social {
  display: flex;
  align-items: center;

  //padding-left: 219px;

  a {
    //padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;

    display: flex;
    align-items: center;

    transition: .2s;

    &.viber {
      position: relative;
      top: 1px;
    }

    @media(max-width: 850px) {
      padding-left: 8px;
      padding-right: 8px;
    }

    //&:not(:last-child) {
    //  border-right: 1px solid $silver;
    //}

    //&:first-child {
    //  padding-left: 0;
    //}

    &:hover {
      opacity: .6;
    }

    svg {
      //width: 22px;
      //height: 22px;

      width: 24px;
      height: 24px;

      @media(max-width: 850px) {
        width: 18px;
        height: 18px;
      }
    }
  }
}
