.repair {
  &__wrap {

  }

  &__head {
    border-bottom: 1px solid rgba(#222222, .15);
    padding-top: 53px;
    padding-bottom: 24px;
    margin-bottom: 44px;

    @media(max-width: 767px) {
      padding-top: 30px;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    h1 {

    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    @media(max-width: 1051px) {
      justify-content: space-evenly;
    }
    @media(max-width: 768px) {
      flex-direction: column;
      // align-items: center;
    }
    &-item {
      margin-bottom: 50px;
      display: flex;
      height: 100%;
      flex-direction: column;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      @media(max-width: 1032px) {
        margin-right: 0;
        &:first-child {
          margin-right: 180px;
        }
      }
      @media(max-width: 850px) {
        &:first-child {
          margin-right: 0;
        }
      }
      @media(max-width: 768px) {
        width: 350px;
      }
      @media(max-width: 370px) {
        width: 290px;
      }

      > b {
        font-size: 30px;
        letter-spacing: -0.03em;
        font-family: $muller;
        color: $blue;
        margin-bottom: 5px;
        display: inline-block;
        @media(min-width: 1600px) {
          font-size: 35px;
        }
      }

      > span {
        width: 100%;
        font-family: $muller;
        display: inline-block;
        min-height: 16px;
        font-size: 16px;
        letter-spacing: -0.03em;
        margin-bottom: 22px;
        @media(min-width: 1600px) {
          font-size: 20px;
        }
      }

      div {
        display: flex;
        margin-bottom: 20px;

        span {
          // width: 45%;
          font-size: 13px;
          font-family: $muller;
          @media(min-width: 1600px) {
            font-size: 16px;
          }

          b {
            font-weight: 600;
            font-size: 20px;
            margin-right: 4px;
            @media(min-width: 1600px) {
              font-size: 25px;
            }
          }
        }
      }

      .btn {
        @media(max-width: 768px) {
          // margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }
  }

  &__request {
    &-wrapper {
      margin-top: 30px;
    }
    &-radios {
      display: flex;
      flex-wrap: wrap;
    }
    &-type, &-location {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      input {
        height: 19px;
        margin-right: 10px;
      }
      label {
        display: flex;
        margin-bottom: 15px;
      }
    }
    &-text {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s;
    }
    &-inputs {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      input {
        margin-bottom: 20px;
        width: 300px;
      }
      #docnum {
        // display: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;
      }
    }
    .btn {
      margin: 20px 0;
    }
  }
}
