.headslid {
  width: 100%;
  background: url("../img/bg.svg") top right no-repeat;
  background-size: cover;

  @media(max-width: 480px) {
    background: url("../img/bg-mobile.svg") bottom center no-repeat;
    background-size: 100% auto;
  }

  &__item {
    width: 640px;
    height: 100%;
    display: flex;
    align-items: center;

    min-height: 100vh;
    //padding-top: 122px;
    padding-top: 140px;
    //padding-bottom: 122px;
    padding-bottom: 140px;

    @media(max-width: 767px) {
      //min-height: inherit;
      padding-top: 94px;
      padding-bottom: 30px;
      width: 100%;
      height: auto;
      min-height: inherit;
    }

    @media(min-width: 768px) and (max-height: 700px) {
      min-height: 700px;
    }

    &-content {
      width: 100%;

      @media(max-width: 767px) {
        text-align: center;
      }

      h1 {
        margin-bottom: 25px;

        @media(max-width: 767px) {
          text-align: center;
          margin-bottom: 14px;
        }
      }

      p {
        margin-bottom: 33px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        font-family: $muller;
        margin-top: 0;

        @media(max-width: 1180px) {
          width: 50%;
        }

        @media(max-width: 767px) {
          text-align: center;
          margin-bottom: 29px;
          width: 100%;
        }

        @media(max-width: 480px) {
          text-align: center;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .btn {
        @media(max-width: 767px) {
          display: inline-block;
        }
      }
    }
  }

  .swiper {
    &-wrapper {
      height: 100%;
    }

    &-slide {
      position: relative;
      overflow: hidden;

      @media(max-width: 768px) {
        padding-bottom: 80px;
      }

      img {
        //width: 60%;
        position: absolute;
        top: 50%;
        right: -13.6%;
        transform: translateY(-50%);
        z-index: -1;
        //max-width: 870px;
        max-width: 833px;
        max-height: 65vh;

        @media(max-width: 1300px) {
          width: 60%;
          max-width: inherit;
        }

        @media(min-width: 1921px) {
          width: 60%;
          max-width: inherit;
        }

        @media(max-width: 767px) {
          position: static;
          margin-left: auto;
          margin-right: auto;
          display: block;
          transform: translateY(0);
        }

        @media(max-width: 480px) {
          width: 90%;
          margin-top: 20px;
        }
      }
    }

    &-pagination {
      bottom: 35px;

      @media(max-width: 480px) {
        bottom: 18px;
      }

      &-bullet {
        width: 10px;
        height: 10px;
        position: relative;
        margin: 0 10px !important;
        transition: .2s;

        &:hover {
          background-color: $blue;
          opacity: 1;
        }

        &:after {
          content: "";
          width: 10px;
          height: 10px;
          background: $gradient-blue;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100%;
          opacity: 0;
          transition: .2s;
        }

        &:before {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.swiper-pagination-bullet-active {
          background-color: transparent;
          &:after {
            width: 20px;
            height: 20px;
            opacity: 1;
          }
        }
      }
    }
  }
}
