.blockblue {
  background-color: $blue-3;
  color: $white;

  min-height: 458px;

  @media(max-width: 768px) {
    min-height: inherit;
  }

  &.--silver {
    background-color: $silver-8;
    color: $black-2;
    min-height: 393px;

    @media(max-width: 992px) {
      min-height: inherit;
    }
  }

  &.--silver &__wrap {
    padding-top: 90px;
    padding-bottom: 50px;

    @media(max-width: 992px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    h2 {
      margin-bottom: 36px;
    }
  }

  &__wrap {
    padding-top: 109px;
  }

  &__content {
    h2 {
      letter-spacing: 0.4px;
      margin-bottom: 17px;
      line-height: 1;
    }

    p {
      width: 59%;
      font-family: $muller;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      margin-top: 0;
      margin-bottom: 35px;

      @media(max-width: 768px) {
        width: 100%;
      }
    }
  }
}
