.photogallery {
  &__wrap {
    padding-bottom: 59px;
  }

  &__grid {
  }

  &__item {
    margin-bottom: 30px;

    span, div {
      background-color: $silver-6;
      height: 222px;
      display: block;
    }
  }
}
