.improvecyber {


  
  &.--page-service &__wrap {
    padding-bottom: 0;
  }

  &__wrap {
    h2 {
      font-size: 35px;
      margin-bottom: 16px;
      @media (max-width: 480px) {
        font-size: 28px;
        line-height: 1;
      }
    }

    p {
      line-height: 1.6;
      width: 57%;
      margin-bottom: 81px;

      @media(max-width: 767px) {
        margin-bottom: 30px;
        width: 100%;
      }
      @media(min-width: 1600px) {
        font-size: 20px;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }
}
