html, body {
  min-height: 100%;
  height: 100%;
  min-width: 320px;

  font-family: $mont;
  line-height: 1.2;
  font-size: 16px;
  color: $black;

  &.fancybox-active {
    height: inherit;
  }
}

body.block-scroll {
  overflow: hidden;
  touch-action: none;
}

#wrapper {
  //height: 100%;
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;

  display: grid;
  grid-template-rows: auto 1fr auto;

  main {
    flex: 1 0 auto;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //
  //header {
  //
  //}
  //
  //main {
  //  flex: 1;
  //}
  //
  //footer {
  //
  //}
}

section {
  width: 100%;
}

main {
  width: 100%;
  header {
    width: 100%;
  }
}

.block-scroll {
  @media(max-width: 767px) {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

.h-full {
  height: 100% !important;
}

.h-inherit {
  height: inherit;
}
.mh-vw {
  max-height: 100vw;
}

.w-full {
  width: 100%;
}

.w-inherit {
  width: inherit;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  box-sizing: border-box;
  @media (min-width: 1366px) {
    max-width: 83.33vw;
    padding: 0;
  }
  @media (max-width: 1365px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 993px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1, .h1 {
  font-size: 70px;
  letter-spacing: -0.041em;
  line-height: 0.9;
  font-weight: 600;

  &.--fw-700 {
    font-weight: 700;
  }

  @media(max-width: 992px) {
    font-size: 50px;
  }

  @media(max-width: 600px) {
    font-size: 35px;
    line-height: 43px;
  }

  .text-gradient {
    @media(max-width: 620px) {
      color: $blue;
      //transform: translate3d(0,0,0);
      //
      //@supports (-webkit-background-clip: inherit) {
      //  background: transparent !important;
      //  color: inherit;
      //  -webkit-background-clip: inherit;
      //  -webkit-text-fill-color: inherit;
      //  font-weight: inherit;
      //}
      //
      //@supports (-webkit-mask-image: $btn-gradient) {
      //  -webkit-mask-image: $btn-gradient;
      //}

      //transform: translate3d(0,0,0);
      //@supports (-webkit-background-clip: inherit) {
      //  background: #2D84C9;
      //  background: -webkit-linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
      //  background: -moz-linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
      //  background: linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
      //  -webkit-background-clip: text;
      //  -webkit-text-fill-color: transparent;
      //}
      //
      //@supports (-webkit-mask-image: $btn-gradient) {
      //  -webkit-mask-image: $btn-gradient;
      //}
    }
  }

  b {
    font-weight: 700;
    padding-left: 0.27em;
    padding-right: 0.27em;
    display: inline;
    letter-spacing: -0.03em;

    &.--pl-none {
      padding-left: 0;
    }

    &.--pr-none {
      padding-right: 0;
    }
  }
}

.text-gradient {
  display: inline-block;
  color: #2D84C9;
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) and
  ((text-fill-color: transparent) or (-webkit-text-fill-color: transparent)) {
  .text-gradient {
    background-image: linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

h2, .h2 {
  font-family: $mont;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;

  &.--fw-700 {
    font-weight: 700;
  }

  &.--break-all {
    word-break: break-all;
  }

  @media(max-width: 768px) {
    font-size: 35px;
    line-height: 1;
  }

  @media(max-width: 480px) {
    font-size: 28px;
    line-height: 1;
  }

  &.--bold {
    font-weight: 600;
  }
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: -0.03em;

  &.--min {
    font-size: 35px;
    line-height: 1;

    @media (max-width: 480px) {
      font-size: 29px;
    }
  }

  @media(max-width: 768px) {
    font-size: 30px;
    line-height: 1;
  }

  @media(max-width: 480px) {
    font-size: 22px;
    line-height: 1;
  }
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  letter-spacing: -0.6px;

  @media(max-width: 767px) {
    font-size: 16px;
  }
}

a {
  font-family: $muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $black-2;
  transition: .2s;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 0;
  letter-spacing: 0px;
  font-family: $muller;
  line-height: 1.32;
}

//.text-gradient {
//  transform: translate3d(0,0,0);
//  @supports (-webkit-background-clip: inherit) {
//    background: #2D84C9;
//    background: -webkit-linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
//    background: -moz-linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
//    background: linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//  }
//
//  @supports (-webkit-mask-image: $btn-gradient) {
//    -webkit-mask-image: $btn-gradient;
//  }
//}


//Input
input, textarea {
  height: 58px;
  background: #F7F7F7;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 7px;
  padding-left: 21px;
  padding-right: 21px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: $black-2;
  transition: .2s;

  box-shadow: none !important;

  @media(max-width: 767px) {
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.--min {
    height: 48px;
  }

  &.error {
    border-color: red;
  }

  &::placeholder {
    color: #B4B4B4;
  }
}

.error-message {
  display: none !important;
}

textarea {
  padding-top: 17px;
  min-height: 99px;
}

.input-checbox {
  cursor: pointer;
  display: inline-block;

  padding-top: 4px;
  padding-bottom: 4px;

  input {
    &:checked + span {
      &:before {
        background-image: url("../img/svg/check.svg");
      }
    }

    &.error {
      & + span {
        &:before {
          box-shadow: 0 0 0 1px red;
        }
      }
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
  }

  &.--radio {
    input:checked + span {
      &:before {
        width: 8px;
        height: 8px;
        border: 5px solid $blue;
        background: $white;
        box-sizing: content-box;
      }
    }
    span {
      &:before {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        top: -3px;
        border: 1px solid #DEDEDE;
        background-color: #ffffff;
      };
    }
  }
  span {
    display: flex;
    align-items: center;
    user-select: none;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;

    padding-left: 26px;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      width: 19px;
      height: 19px;
      border-radius: 4px;
      margin-right: 7px;

      position: absolute;
      top: -4px;
      left: 0;

      background: #2871B6;
      background-position: center;
      background-size: 9px 6px;
      background-repeat: no-repeat;
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  outline: none;
}


//.text-gradient {
//  color: #2D84C9;
//  background: transparent;
//  -webkit-text-fill-color: $blue;
//  text-fill-color: $blue;
//  background-clip: unset;
//
//  span {
//    color: $blue;
//  }
//}
//
//@supports ((background-clip: text) or (-webkit-background-clip: text)) and
//  ((text-fill-color: transparent) or (-webkit-text-fill-color: transparent)) {
//  .text-gradient {
//    background: linear-gradient(to right, #2D84C9 0%, #2DAAC6 100%);
//    background-size: cover;
//    -webkit-background-clip: text;
//    background-clip: text;
//    -webkit-text-fill-color: transparent;
//    text-fill-color: transparent;
//  }
//}

.btn {
  border-radius: 100px;
  background: $btn-gradient;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 228px;
  padding: 20px 20px;

  outline: none;
  text-decoration: none;
  cursor: pointer;

  overflow: hidden;
  position: relative;

  appearance: none;
  border: 0;

  box-shadow: $btn-box-shadow;

  user-select: none;
  transform: translateZ(0);
  will-change: transform;
  overflow: hidden;

  // @media(min-width: 1366px) {
  //   min-width: 15.83vw;
  //   padding: 1.39vw;
  // }

  &.--max {
    min-width: 261px;
  }

  &.--light {
    background: rgba(40, 113, 182, 0.1);
    box-shadow: none;
    transition: .2s;

    @media(max-width: 480px) {
      padding: 15px 10px;
    }

    &:hover {
      background-color: $blue;

      span {
        color: $white;
      }
    }

    span {
      color: $blue;
      font-weight: 700;
      font-size: 13px;
      transition: .2s;
      @media(min-width: 1600px) {
        font-size: 16px;
      }
    }

    &:after {
      display: none;
    }
  }

  &.--blue {
    min-width: 179px;
    background: $blue;
    transition: .2s;
    box-shadow: none;

    @media(max-width: 480px) {
      padding: 15px 10px;
    }

    &:hover {
      background: rgba(40, 113, 182, 0.1);

      &:after {
        display: none;
      }

      span {
        color: $blue;
        font-weight: bold;
      }
    }

    &:after {
      display: none;
    }

    span {
      font-size: 13px;
      @media(min-width: 1600px) {
        font-size: 16px;
      }
    }
  }

  &:hover {
    text-decoration: none;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $btn-gradient-invert;
    z-index: 0;
    transition: .5s;
    opacity: 0;
    transform: translateZ(0);
    overflow: hidden;
  }

  &.--w-auto {
    min-width: inherit;
    padding-left: 30px;
    padding-right: 30px;
  }

  span {
    color: $white;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    z-index: 1;
    position: relative;
    font-weight: 500;
    font-family: $muller;
    @media(min-width: 1366px) {
      font-size: 1.11vw;
    }
  }
}


//Custom Select
.custom-select {
  &__head {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-family: $muller;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
    }

    svg {
      width: 10px;
      height: 6px;
      margin-left: 8px;
    }
  }
}


.article {
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  text-decoration: none !important;

  display: inline-flex;
  flex-direction: column;

  &.--slider {
    picture {
      height: 208px;
      position: relative;

      @media(max-width: 480px) {
        height: 160px;
      }

      &:hover {
        a {
          opacity: 1;
        }
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(0deg, rgba(47, 47, 47, 0.8), rgba(47, 47, 47, 0.8));

        transition: .2s;
        opacity: 0;

        &:hover {
          &:after {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }

        &:after {
          content: "";
          display: block;
          width: 69px;
          height: 69px;
          border-radius: 100%;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgba(255, 255, 255, 0.1);
          background-image: url("../img/search.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 27px 27px;
          transition: .2s;
          transform-origin: center center;
        }
      }
    }
  }

  &.--min-info {

    picture {
      height: 208px;
      border-radius: 15px 15px 0 0;
    }
  }

  &.--min-info &__info {
    background-color: $silver-4;
    padding: 40px 35px;
    padding-bottom: 15px;
    border-radius: 0 0 15px 15px;

    @media(max-width: 768px) {
      padding: 20px;
    }
  }

  &.--min {
    width: 100%;

    picture {
      width: 100%;
      height: 268px;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
        z-index: 0;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(358.58deg, #2F2F2F 14.63%, rgba(35, 35, 35, 0) 39.74%);
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .7;
      }

      span {
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-left: 35px;
        padding-bottom: 37px;
        padding-right: 35px;
        padding-top: 35px;

        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        color: $white;
        letter-spacing: -0.03em;
      }
    }
  }

  picture {
    display: block;
    height: 247px;
    overflow: hidden;

    @media(max-width: 767px) {
      height: 228px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &:hover {
    picture {
      opacity: 0.8;
    }
    .article__info {
      text-decoration: none;

      h4 {
        color: $blue;
        text-decoration: none;
      }
  }

  }

  &.--slider &__info {
    background-color: $silver-4;
    padding: 35px;
    padding-top: 38px;
    padding-bottom: 38px;

    @media(max-width: 480px) {
      padding: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__info {
    padding: 25px 25px;
    flex: 1;

    @media(max-width: 768px) {
      padding: 27px 21px;
      padding-bottom: 29px;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      letter-spacing: 0.7px;
      margin-bottom: 19px;
      color: $black-2;
      line-height: 1.2;
      transition: .2s;

      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 8px;
      }
    }

    span, p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      font-family: $muller;
      margin-bottom: 22px;
      display: block;
      color: $black-2;
      line-height: 1.42;

      @media(max-width: 767px) {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 0;
      }
    }

    em {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      font-family: $muller;
      color: $black-2;

      @media(max-width: 767px) {
        display: none;
      }
    }
  }
}


.btn-refresh {
  display: inline-flex;
  align-items: center;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    svg {
      transform: rotate(60deg);
    }
  }

  span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
    @media(min-width: 1366px) {
      font-size: 1.11vw;
      line-height: 1.67vw;
      margin-right: 0.69vw;
    }
    @extend .text-gradient;
  }

  svg {
    width: 20px;
    height: 20px;
    transform-origin: center center;
    transition: .2s;
    @media(min-width: 1366px) {
      width: 1.39vw;
      height: 1.39vw;
    }
  }
}


//Custom Select
.custom-select-container {
  &.is-open {
    z-index: 10;

    .custom-select-panel {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      visibility: visible;
    }

    .custom-select-opener {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .custom-select-opener {
    padding: 5px;
    background-color: transparent;
    outline: none;
    position: relative;

    padding-right: 18px;
    user-select: none;

    &:hover {
      span {
        color: $blue;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 9px;
      height: 6px;
      line-height: 1;
      background: url("../img/arrow-blue.svg") center center no-repeat;
      background-size: contain;

      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -5px;
      transform-origin: center center;
      transition: .2s;

      color: $blue;
    }

    span {
      font-family: $muller;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;

      max-width: 170px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      transition: .2s;
      @media(min-width: 1600px) {
        font-size: 17px;
        line-height: 17px;
      }
    }
  }

  .custom-select-panel {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    min-width: 179px;
    max-width: 250px;
    margin-top: 9px;

    max-height: inherit;
    overflow-y: auto;

    opacity: 0;
    transition: .2s;
    transform: translateY(10px);
    pointer-events: none;
    visibility: hidden;

    & {
      scrollbar-width: thin;
      scrollbar-color: $blue transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 20px;
    }
  }

  .custom-select-option {
    font-family: $muller;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    //line-height: 2.2;
    height: auto;
    padding: 8px 16px;
    cursor: pointer;

    &:first-child {
      margin-top: 9px;
    }

    &:last-child {
      margin-bottom: 9px;
    }

    &:hover {
      background-color: transparent;
    }

    &:before {
      display: none;
    }

    &.has-focus {
      color: $blue;
      background-color: transparent;
    }
  }
}


.js-custom-select {
  opacity: 0;
}


.section{
  &__wrap {
    padding-top: 90px;
    padding-bottom: 101px;

    @media(max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media(max-width: 600px) {
      padding-top: 21px;
    }

    h2 {
    }
  }

  &__head {
    margin-bottom: 31px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}


//Reviews
.review {
  background: $silver-4;
  border-radius: 25px;
  display: flex;
  padding: 36px 36px 33px;

  @media(max-width: 767px) {
    padding: 20px;
    border-radius: 10px;
    display: block;
  }

  &.--quote {
    position: relative;

    footer {
      svg {
        width: 56px;
        height: 42px;
        fill: $blue;

        position: absolute;
        right: 46px;
        bottom: 20px;

        @media(max-width: 768px) {
          width: 34px;
          height: 25px;
          right: 15px;
          bottom: 15px;
        }
      }
    }
  }

  &__img {
    width: 167px;

    @media(max-width: 768px) {
      margin: auto;
      margin-bottom: 15px;
    }

    // @media(max-width: 480px) {
    //   width: 100%;
    // }

    img {
      width: 100%;
    }
  }

  &__content {
    width: calc(100% - 167px);
    padding-left: 26px;

    @media(max-width: 768px) {
      padding-left: 0;
      width: 100%;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 26px;

      @media(max-width: 520px) {
        margin-bottom: 15px;
      }
      @media(min-width: 1600px) {
        font-size: 18px;
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    b {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      display: block;
      @media(min-width: 1600px) {
        font-size: 20px;
      }
    }

    em {
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;

      @media(max-width: 520px) {
        width: 100%;
        margin-bottom: 20px;
      }
      @media(min-width: 1600px) {
        font-size: 17px;
      }
    }
  }
}


.link-arrow {
  display: inline-flex;
  align-items: flex-end;
  cursor: pointer;

  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;

  &.--max {
    span {
      font-size: 16px;
      font-weight: 700;
      @media(min-width: 1600px) {
        font-size: 20px;
      }
    }

    svg {
      width: 15px;
    }
  }

  &.--ico {
    &:hover {
      svg {
        fill: $black-2;
      }
    }
    span {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 1;
      position: relative;
      top: 1px;
    }

    svg {
      width: 18px;
      height: 18px;
      margin-right: 7px;
    }
  }

  &.--arrow-rotate {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    span {
      color: $black-2;
    }

    svg {
      fill: $black-2;
    }
  }

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: $blue;
    transition: .2s;
    letter-spacing: 0.9px;
    @media(min-width: 1600px) {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      margin-bottom: 26px;
    }
    @media (max-width: 520px) {
      margin-bottom: 15px;
    }
  }

  svg {
    fill: $blue;
    width: 29px;
    height: 9px;
    margin-left: 11px;
    transition: .2s;
    margin-bottom: 8px;

    @media (max-width: 576px) {
      margin-bottom: 34px;
    }
    @media (max-width: 520px) {
      margin-bottom: 23px;
    }
  }
}


.link-blue {
  font-size: 13px;
  color: $blue;
  display: inline-block;
  padding-bottom: 3px;
  transition: .2s;
  border-bottom: 1px solid rgba(40, 113, 182, 0.2);
  font-weight: 400;

  &:hover {
    border-color: transparent;
  }
}


//Article Vacancy
.article-vcncy {
  background-color: $blue;
  color: $white;
  padding: 46px 31px 11px 31px;
  border-radius: 15px;
  @media(min-width: 2188px) {
    height: 235px;
  }

  &.--blue {
    background-color: $blue;
  }

  &.--green {
    background-color: $green;
  }

  &.--violet {
    background-color: $violet;
  }

  b {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    font-family: $muller;
    letter-spacing: -0.1px;

    margin-bottom: 5px;
    display: inline-block;
    @media(min-width: 2188px) {
      font-size: 30px;
    }
  }

  em {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    display: block;
    font-family: $muller;
    margin-bottom: 14px;
    @media(min-width: 2188px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

   p {
     line-height: 25px;
     @media(min-width: 2188px) {
      font-size: 20px;
    }
   }
}


//Pages
.page-work {
  .vacancyblock {
    margin-top: 40px;
    margin-bottom: 40px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  .gridimg {
    margin-bottom: 127px;

    @media(max-width: 992px) {
      margin-bottom: 40px;
    }
  }
}

#wrapper.page-reviews {
  @media(max-width: 992px) {
    height: auto;
  }

  main {
    height: calc(100% - 281px);

    @media(max-height: 700px) {
      height: auto;
    }

    @media(max-width: 992px) {
      height: auto;
    }
  }

  .reviews {
    height: 100%;

    .container-fluid {
      height: 100%;
    }

    &__wrap {
      height: 100%;
      display: flex;
      flex-direction: column;

      .reviews__scroll {
        flex: 1;
        overflow: auto;
      }
    }
  }
}


//Card
.card {
  background-color: $blue;
  border-radius: 15px;
  color: $white;
  height: 100%;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 26px;
  padding-bottom: 30px;

  //margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 767px) {
    padding: 20px;
    display: block;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2px;
    font-family: $muller;
    @media(min-width: 1600px) {
      font-size: 30px;
    }
  }

  em {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    //margin-bottom: 33px;
    display: inline-block;
    font-family: $muller;
    margin-bottom: 7px;
    @media(min-width: 1600px) {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }

  p {
    margin-bottom: 18px;
    margin-top: auto;
    font-family: $muller;
    line-height: 25px;
    @media(min-width: 1600px) {
      font-size: 20px;
    }
  }

  .btn {
    background: rgba(255, 255, 255, 0.1);
    padding: 21px 20px;
    margin-top: 0;

    @media(max-width: 480px) {
      width: 100%;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.6);

      span {
        color: $black-2;
      }
    }

    span {
      color: $white;
      font-size: 16px;
      @media(min-width: 1600px) {
        font-size: 20px;
      }
    }
  }

  &.--green {
    background-color: $green;
  }

  &.--violet {
    background-color: $violet;
  }
}


.link-more {
  z-index: 10;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  margin-top: 47px;

  svg {
    fill: $blue;
    transition: .2s;
    transform: rotate(90deg);
    width: 15px;
    height: 7px;
    margin-right: 3px;
    position: relative;
    top: -2px;
  }

  span {
    color: $blue;
    transition: .2s;
    font-size: 13px;
  }

  &:hover {
    svg {
      fill: $black;
    }

    span {
      color: $black;
    }
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &-mb35 {
    margin-bottom: 35px;
  }
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 35px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '—';
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #b9b9b9
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1;
  color: #b9b9b9;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.breadcrumbs__link:not(:last-child) {
  cursor: pointer;
}
.work {

}
.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.15);
}


