body {
  font-family: $mont;
  line-height: 1.2;
  font-size: 16px;
  color: $black;
}

.block-scroll {
  @media(max-width: 767px) {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

.h-full {
  height: 100%;
}

.h-inherit {
  height: inherit;
}

.w-full {
  width: 100%;
}

.w-inherit {
  width: inherit;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

h1 {
  font-size: 70px;
  letter-spacing: -0.041em;
  line-height: 0.9;
  font-weight: 600;

  @media(max-width: 992px) {
    font-size: 50px;
  }

  @media(max-width: 600px) {
    font-size: 35px;
    line-height: 43px;
  }

  .text-gradient {
    @media(max-width: 620px) {
      color: $blue;

      @supports (-webkit-background-clip: inherit) {
        background: transparent !important;
        color: inherit;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: inherit;
        font-weight: inherit;
      }
    }
  }

  b {
    font-weight: 700;
    padding-left: 0.27em;
    padding-right: 0.27em;
    display: inline;
    letter-spacing: -0.03em;

    &.--pl-none {
      padding-left: 0;
    }

    &.--pr-none {
      padding-right: 0;
    }
  }
}

h2 {
  font-family: $mont;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;

  @media(max-width: 768px) {
    font-size: 35px;
  }

  &.--bold {
    font-weight: 600;
  }
}

a {
  font-family: $muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $black-2;
  transition: .2s;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}

.text-gradient {
  background: -webkit-linear-gradient(#2D84C9, #2DAAC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border-radius: 100px;
  background: $btn-gradient;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 228px;
  padding: 20px 20px;

  outline: none;
  text-decoration: none;
  cursor: pointer;

  overflow: hidden;
  position: relative;

  appearance: none;
  border: 0;

  box-shadow: $btn-box-shadow;

  user-select: none;

  &:hover {
    text-decoration: none;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $btn-gradient;
    z-index: 0;
    transition: .5s;
    opacity: 0;
    transform: scale(-1);
  }

  &.--w-auto {
    min-width: inherit;
    padding-left: 30px;
    padding-right: 30px;
  }

  span {
    color: $white;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    z-index: 1;
    position: relative;
  }
}


//Custom Select
.custom-select {
  &__head {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-family: $muller;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
    }

    svg {
      width: 10px;
      height: 6px;
      margin-left: 8px;
    }
  }
}


.article {
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;

  picture {
    display: block;
    height: 307px;

    @media(max-width: 767px) {
      height: 228px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__info {
    padding: 50px 35px;

    @media(max-width: 768px) {
      padding: 27px 21px;
      padding-bottom: 29px;
    }

    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      letter-spacing: -0.03em;
      margin-bottom: 22px;
      color: $black-2;

      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 8px;
      }
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      font-family: $muller;
      margin-bottom: 22px;
      display: block;
      color: $black-2;
      line-height: 1.3;

      @media(max-width: 767px) {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 0;
      }
    }

    em {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      font-family: $muller;
      color: $black-2;

      @media(max-width: 767px) {
        display: none;
      }
    }
  }
}


.btn-refresh {
  display: inline-flex;
  align-items: center;
  border: 0;
  padding: 0;
  outline: none;

  &:hover {
    svg {
      transform: rotate(60deg);
    }
  }

  span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
  }

  svg {
    width: 20px;
    height: 20px;
    transform-origin: center center;
    transition: .2s;
  }
}


//Custom Select
.custom-select-container {
  &.is-open {
    .custom-select-panel {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      visibility: visible;
    }

    .custom-select-opener {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .custom-select-opener {
    padding: 5px;
    background-color: transparent;
    outline: none;

    padding-right: 18px;
    user-select: none;

    &:hover {
      span {
        color: $blue;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 9px;
      height: 6px;
      background: url("../img/svg/arrow.svg") center center no-repeat;
      background-size: contain;

      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -3px;
      transform-origin: center center;
      transition: .2s;
    }

    span {
      font-family: $muller;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;

      max-width: 170px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }
  }

  .custom-select-panel {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    min-width: 179px;
    max-width: 250px;
    margin-top: 9px;

    max-height: inherit;
    overflow-y: auto;

    opacity: 0;
    transition: .2s;
    transform: translateY(10px);
    pointer-events: none;
    visibility: hidden;

    & {
      scrollbar-width: thin;
      scrollbar-color: $blue transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 20px;
    }
  }

  .custom-select-option {
    font-family: $muller;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    //line-height: 2.2;
    height: auto;
    padding: 8px 16px;
    cursor: pointer;

    &:first-child {
      margin-top: 9px;
    }

    &:last-child {
      margin-bottom: 9px;
    }

    &:hover {
      background-color: transparent;
    }

    &:before {
      display: none;
    }

    &.has-focus {
      color: $blue;
      background-color: transparent;
    }
  }
}
